/* _content/QLHK/Views/ListSHK/List.cshtml.rz.scp.css */
body[b-o8vh6l1up5] {
    margin-top: 20px;
}


/* USER LIST TABLE */
.user-list tbody td > img[b-o8vh6l1up5] {
    position: relative;
    max-width: 50px;
    float: left;
    margin-right: 15px;
}

.user-list tbody td .user-link[b-o8vh6l1up5] {
    display: block;
    font-size: 1.25em;
    padding-top: 3px;
    margin-left: 60px;
}

.user-list tbody td .user-subhead[b-o8vh6l1up5] {
    font-size: 0.875em;
    font-style: italic;
}

/* TABLES */
.table[b-o8vh6l1up5] {
    border-collapse: separate;
}

.table-hover > tbody > tr:hover > td[b-o8vh6l1up5],
.table-hover > tbody > tr:hover > th[b-o8vh6l1up5] {
    background-color: #eee;
}

.table thead > tr > th[b-o8vh6l1up5] {
    border-bottom: 1px solid #C2C2C2;
    padding-bottom: 0;
}

.table tbody > tr > td[b-o8vh6l1up5] {
    font-size: 0.875em;
    background: #f5f5f5;
    border-top: 10px solid #fff;
    vertical-align: middle;
    padding: 12px 8px;
}

    .table tbody > tr > td:first-child[b-o8vh6l1up5],
    .table thead > tr > th:first-child[b-o8vh6l1up5] {
        padding-left: 20px;
    }

.table thead > tr > th span[b-o8vh6l1up5] {
    border-bottom: 2px solid #C2C2C2;
    display: inline-block;
    padding: 0 5px;
    padding-bottom: 5px;
    font-weight: normal;
}

.table thead > tr > th > a span[b-o8vh6l1up5] {
    color: #344644;
}

    .table thead > tr > th > a span[b-o8vh6l1up5]:after {
        content: "\f0dc";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        margin-left: 5px;
        font-size: 0.75em;
    }

.table thead > tr > th > a.asc span[b-o8vh6l1up5]:after {
    content: "\f0dd";
}

.table thead > tr > th > a.desc span[b-o8vh6l1up5]:after {
    content: "\f0de";
}

.table thead > tr > th > a:hover span[b-o8vh6l1up5] {
    text-decoration: none;
    color: #2bb6a3;
    border-color: #2bb6a3;
}

.table.table-hover tbody > tr > td[b-o8vh6l1up5] {
    -webkit-transition: background-color 0.15s ease-in-out 0s;
    transition: background-color 0.15s ease-in-out 0s;
}

.table tbody tr td .call-type[b-o8vh6l1up5] {
    display: block;
    font-size: 0.75em;
    text-align: center;
}

.table tbody tr td .first-line[b-o8vh6l1up5] {
    line-height: 1.5;
    font-weight: 400;
    font-size: 1.125em;
}

    .table tbody tr td .first-line span[b-o8vh6l1up5] {
        font-size: 0.875em;
        color: #969696;
        font-weight: 300;
    }

.table tbody tr td .second-line[b-o8vh6l1up5] {
    font-size: 0.875em;
    line-height: 1.2;
}

.table a.table-link[b-o8vh6l1up5] {
    margin: 0 5px;
    font-size: 1.125em;
}

    .table a.table-link:hover[b-o8vh6l1up5] {
        text-decoration: none;
        color: #2aa493;
    }

    .table a.table-link.danger[b-o8vh6l1up5] {
        color: #fe635f;
    }

        .table a.table-link.danger:hover[b-o8vh6l1up5] {
            color: #dd504c;
        }

.table-products tbody > tr > td[b-o8vh6l1up5] {
    background: none;
    border: none;
    border-bottom: 1px solid #ebebeb;
    -webkit-transition: background-color 0.15s ease-in-out 0s;
    transition: background-color 0.15s ease-in-out 0s;
    position: relative;
}

.table-products tbody > tr:hover > td[b-o8vh6l1up5] {
    text-decoration: none;
    background-color: #f6f6f6;
}

.table-products .name[b-o8vh6l1up5] {
    display: block;
    font-weight: 600;
    padding-bottom: 7px;
}

.table-products .price[b-o8vh6l1up5] {
    display: block;
    text-decoration: none;
    width: 50%;
    float: left;
    font-size: 0.875em;
}

    .table-products .price > i[b-o8vh6l1up5] {
        color: #8dc859;
    }

.table-products .warranty[b-o8vh6l1up5] {
    display: block;
    text-decoration: none;
    width: 50%;
    float: left;
    font-size: 0.875em;
}

    .table-products .warranty > i[b-o8vh6l1up5] {
        color: #f1c40f;
    }

.table tbody > tr.table-line-fb > td[b-o8vh6l1up5] {
    background-color: #9daccb;
    color: #262525;
}

.table tbody > tr.table-line-twitter > td[b-o8vh6l1up5] {
    background-color: #9fccff;
    color: #262525;
}

.table tbody > tr.table-line-plus > td[b-o8vh6l1up5] {
    background-color: #eea59c;
    color: #262525;
}

.table-stats .status-social-icon[b-o8vh6l1up5] {
    font-size: 1.9em;
    vertical-align: bottom;
}

.table-stats .table-line-fb .status-social-icon[b-o8vh6l1up5] {
    color: #556484;
}

.table-stats .table-line-twitter .status-social-icon[b-o8vh6l1up5] {
    color: #5885b8;
}

.table-stats .table-line-plus .status-social-icon[b-o8vh6l1up5] {
    color: #a75d54;
/* _content/QLHK/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-bwllz0fyh1] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-bwllz0fyh1] {
  color: #0077cc;
}

.btn-primary[b-bwllz0fyh1] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-bwllz0fyh1], .nav-pills .show > .nav-link[b-bwllz0fyh1] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-bwllz0fyh1] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-bwllz0fyh1] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-bwllz0fyh1] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-bwllz0fyh1] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-bwllz0fyh1] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
