body[b-u8pawwovsq] {
    margin-top: 20px;
}


/* USER LIST TABLE */
.user-list tbody td > img[b-u8pawwovsq] {
    position: relative;
    max-width: 50px;
    float: left;
    margin-right: 15px;

}

.user-list tbody td .user-link[b-u8pawwovsq] {
    display: block;
    font-size: 1.25em;
    padding-top: 3px;
    margin-left: 60px;
    width: 170px;
}

.user-list tbody td .user-subhead[b-u8pawwovsq] {
    font-size: 0.875em;
    font-style: italic;
}

/* TABLES */
.table[b-u8pawwovsq] {
    border-collapse: separate;
}

.table-hover > tbody > tr:hover > td[b-u8pawwovsq],
.table-hover > tbody > tr:hover > th[b-u8pawwovsq] {
    background-color: #eee;
}

.table thead > tr > th[b-u8pawwovsq] {
    border-bottom: 1px solid #C2C2C2;
    padding-bottom: 0;
}

.table tbody > tr > td[b-u8pawwovsq] {
    font-size: 0.875em;
    background: #f5f5f5;
    border-top: 10px solid #fff;
    vertical-align: middle;
    padding: 12px 8px;
}

    .table tbody > tr > td:first-child[b-u8pawwovsq],
    .table thead > tr > th:first-child[b-u8pawwovsq] {
        padding-left: 20px;
    }

.table thead > tr > th span[b-u8pawwovsq] {
    border-bottom: 2px solid #C2C2C2;
    display: inline-block;
    padding: 0 5px;
    padding-bottom: 5px;
    font-weight: normal;
}

.table thead > tr > th > a span[b-u8pawwovsq] {
    color: #344644;
}

    .table thead > tr > th > a span[b-u8pawwovsq]:after {
        content: "\f0dc";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        margin-left: 5px;
        font-size: 0.75em;
    }

.table thead > tr > th > a.asc span[b-u8pawwovsq]:after {
    content: "\f0dd";
}

.table thead > tr > th > a.desc span[b-u8pawwovsq]:after {
    content: "\f0de";
}

.table thead > tr > th > a:hover span[b-u8pawwovsq] {
    text-decoration: none;
    color: #2bb6a3;
    border-color: #2bb6a3;
}

.table.table-hover tbody > tr > td[b-u8pawwovsq] {
    -webkit-transition: background-color 0.15s ease-in-out 0s;
    transition: background-color 0.15s ease-in-out 0s;
}

.table tbody tr td .call-type[b-u8pawwovsq] {
    display: block;
    font-size: 0.75em;
    text-align: center;
}

.table tbody tr td .first-line[b-u8pawwovsq] {
    line-height: 1.5;
    font-weight: 400;
    font-size: 1.125em;
}

    .table tbody tr td .first-line span[b-u8pawwovsq] {
        font-size: 0.875em;
        color: #969696;
        font-weight: 300;
    }

.table tbody tr td .second-line[b-u8pawwovsq] {
    font-size: 0.875em;
    line-height: 1.2;
}

.table a.table-link[b-u8pawwovsq] {
    margin: 0 5px;
    font-size: 1.125em;
}

    .table a.table-link:hover[b-u8pawwovsq] {
        text-decoration: none;
        color: #2aa493;
    }

    .table a.table-link.danger[b-u8pawwovsq] {
        color: #fe635f;
    }

        .table a.table-link.danger:hover[b-u8pawwovsq] {
            color: #dd504c;
        }

.table-products tbody > tr > td[b-u8pawwovsq] {
    background: none;
    border: none;
    border-bottom: 1px solid #ebebeb;
    -webkit-transition: background-color 0.15s ease-in-out 0s;
    transition: background-color 0.15s ease-in-out 0s;
    position: relative;
}

.table-products tbody > tr:hover > td[b-u8pawwovsq] {
    text-decoration: none;
    background-color: #f6f6f6;
}

.table-products .name[b-u8pawwovsq] {
    display: block;
    font-weight: 600;
    padding-bottom: 7px;
}

.table-products .price[b-u8pawwovsq] {
    display: block;
    text-decoration: none;
    width: 50%;
    float: left;
    font-size: 0.875em;
}

    .table-products .price > i[b-u8pawwovsq] {
        color: #8dc859;
    }

.table-products .warranty[b-u8pawwovsq] {
    display: block;
    text-decoration: none;
    width: 50%;
    float: left;
    font-size: 0.875em;
}

    .table-products .warranty > i[b-u8pawwovsq] {
        color: #f1c40f;
    }

.table tbody > tr.table-line-fb > td[b-u8pawwovsq] {
    background-color: #9daccb;
    color: #262525;
}

.table tbody > tr.table-line-twitter > td[b-u8pawwovsq] {
    background-color: #9fccff;
    color: #262525;
}

.table tbody > tr.table-line-plus > td[b-u8pawwovsq] {
    background-color: #eea59c;
    color: #262525;
}

.table-stats .status-social-icon[b-u8pawwovsq] {
    font-size: 1.9em;
    vertical-align: bottom;
}

.table-stats .table-line-fb .status-social-icon[b-u8pawwovsq] {
    color: #556484;
}

.table-stats .table-line-twitter .status-social-icon[b-u8pawwovsq] {
    color: #5885b8;
}

.table-stats .table-line-plus .status-social-icon[b-u8pawwovsq] {
    color: #a75d54;
